# Ignore Rasa cache and temporary files
.rasa/cache/
Gaia/Rasa/.rasa/cache/

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore model and database files
Gaia/Rasa/models/
Gaia/Rasa/rasa_database.db
Gaia/app/gaia.db
Gaia/app/rasa_database.db

# Ignore environment files
venv/
Gaia/Rasa/anaconda3/
start_rasa_and_flask.sh

# Ignore other temporary files
Gaia/Rasa/y/
Gaia/app/key.txt

.rasa/cache/cache.db
actions/__pycache__/__init__.cpython-38.pyc
actions/__pycache__/actions.cpython-38.pyc
actions/__pycache__/snippets.cpython-38.pyc