{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto mt-5">

        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{singleEvent.title}}</h2>
            <p class="card-text">{{singleEvent.description}}</p>
            <p class="card-text"><strong>Location:</strong> {{singleEvent.location}}</p>
            <p class="card-text"><strong>Time:</strong> {{singleEvent.eventTime.strftime(' %d/%m/%Y %I:%M %p')}}</p>

            {% if singleEvent.flairone is not none %}
            <h5><span class="badge text-bg-success rounded-pill badge-lg">{{ singleEvent.flairone }}</span></h5>
            {% endif %}

            <div class="btn-group" role="group" aria-label="Event Actions">
              <button type="button" class="btn btn-primary"><i class="fas fa-thumbs-up"></i> 
                Like <span class="badge text-bg-secondary">###</span>
              </button>
    
              <form action="{{ url_for('rsvp_to_event', event_id=singleEvent.eventID) }}" method="post">
                {% if user_has_rsvped %}
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-times"></i> Cancel RSVP
                </button>
                {% else %}
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-calendar-check"></i> RSVP
                </button>
                {% endif %}
              </form>
            
            </div>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-header">
              <div class="col-auto me-auto">Post a Comment</div>
          </div>
          <div class='card-body'>
              <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.message.label(class="form-label") }}
                {{ form.message(class="form-control")  }}
                {% for error in form.message.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}

          </div>
          <div class='card-footer'>
            {{ form.submit(class="btn btn-warning") }}
          </div>
                </form>
        </div>

        <div class="card mt-4">
          <div class="card-header">
            Comments
          </div>
          <ul class="list-group list-group-flush">
            {% for comment in singleEvent.comments%}
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div>
                  <strong>{{comment.author.firstname}} {{comment.author.lastname}}</strong>
                  <small class="text-muted">{{ comment.timestamp.strftime(' %d/%m/%Y %H:%M ') }}</small>
                </div>
                <div>
                  <span>{{comment.message}}</span>
                </div>
              </div>
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>


  


  </div>
  

{% endblock %}