<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAIA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body class="log">
    <div class="wrapper">
        <form method="POST" action="{{ url_for('index') }}">
            <h1>Login</h1>
            
            {{ form.hidden_tag() }}  <!-- This will add a CSRF token -->
            
            <div class="input-box">
                {{ form.email(class="form-control", placeholder="Email", id="username_user") }}  <!-- Render the email input -->
                {% for error in form.email.errors %}
                    <div class="error">{{ error }}</div>  <!-- Display errors -->
                {% endfor %}
                <i class="bx bxs-user"></i>
            </div>

            <div class="input-box">
                {{ form.password(class="form-control", placeholder="Password", id="password_user") }}  <!-- Render the password input -->
                {% for error in form.password.errors %}
                    <div class="error">{{ error }}</div>  <!-- Display errors -->
                {% endfor %}
                <i class="bx bxs-lock-alt"></i>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <a href="/register" class="btn btn-outline-dark">Signup</a>
            </div>
        </form>
    </div>
</body>
</html>