<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <header>GAIA</header>
      <div class="tab_box">
        <button class="tab_btn active">Welcome</button>
        <button class="tab_btn">House</button>
        <button class="tab_btn">Gas</button>
        <button class="tab_btn">Car</button>
      <div class="line"></div>
      </div>
      <div class="content_box">
        <div class="content active">
          <h2>Welcome</h2>
          <p>
              Some information about the calculator goes here. Some information
              about the calculator goes here. Some information about the
              calculator goes here. Some information about the calculator goes
              here. Some information about the calculator goes here. Some
              information about the calculator goes here. Some information about
              the calculator goes here. Some information about the calculator goes
              here.
            </p>
            <form action="#" class="form">
              <div class="input-box">
                <select id="state" name="">
                  <option value="">-- Select State --</option>
                </select>
                <select id="city" name="">
                  <option value="">-- Select City --</option>
                </select>
                <p>Enter the period this calculation covers (optional)</p>
              <div class="column">
                <div class="inputBox_Bdate">
                  <label>To</label>
                  <input type="date"/>
                </div>
                <div class="inputBox_Bdate">
                  <label>From</label>
                  <input type="date"/>
                </div>
              </div>
              </div>
            </form>
          </div>
        <div class="content">
          <h2>House</h2>
          <p>
            Some information about the calculator goes here. Some information
            about the calculator goes here. Some information about the
            calculator goes here. Some information about the calculator goes
            here. Some information about the calculator goes here. Some
            information about the calculator goes here. Some information about
            the calculator goes here. Some information about the calculator goes
            here.
          </p>
        </div>
        <div class="content">
          <h2>Gas</h2>
          <p>
            Some information about the calculator goes here. Some information
            about the calculator goes here. Some information about the
            calculator goes here. Some information about the calculator goes
            here. Some information about the calculator goes here. Some
            information about the calculator goes here. Some information about
            the calculator goes here. Some information about the calculator goes
            here.
          </p>
        </div>
        <div class="content">
          <h2>Car</h2>
          <p>
            Some information about the calculator goes here. Some information
            about the calculator goes here. Some information about the
            calculator goes here. Some information about the calculator goes
            here. Some information about the calculator goes here. Some
            information about the calculator goes here. Some information about
            the calculator goes here. Some information about the calculator goes
            here.
          </p>
          <div class="btn-box">
            <a href="info.html">Submit</a>
          </div>
        </div>
      </div>
    </div>
    <script src="info.js"></script>
  </body>
</html>
